 
# üìù Practice: Finding Data Types in Python

## üîπ Question 1
Find the data type of the variable `x = 10`.

---

## üîπ Question 2

Find the data type of the variable `y = 3.14`.

---

## üîπ Question 3

Find the data type of the variable `name = "Python"`.

---

## üîπ Question 4

Find the data type of the variable `is_valid = True`.

---

## üîπ Question 5

- Find the data type of the variable `numbers = [1, 2, 3, 4, 5, 'a', 'b', '345',675]`.
- Find data type of fourth and eight element in the list

# üìù Practice: Word Problem Style Math in Python

## üîπ Question 1  
A shopkeeper sold 15 pens at ‚Çπ12 each and 10 pencils at ‚Çπ5 each.  
Find the total money he earned.

---

## üîπ Question 2

A car travels at a speed of 60 km/h for 2.5 hours.
Find the total distance traveled.

---

## üîπ Question 3

The area of a circle is given by formula `A = œÄr¬≤`.
Find the area when radius `r = 7`.

---

## üîπ Question 4

A student scored 85, 90, 78, 92, and 88 in 5 subjects.
Find the average score.

---

## üîπ Question 5

The principal amount is ‚Çπ5000, rate of interest is 8% per year, and time is 2 years.
Find the compound interest using the formula:

$$
CI = P \times \big( (1 + R/100)^T - 1 \big)
$$

---

# üìù Practice: Indexing in Python

Given the list:

In [ ]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

---

## üîπ Question 1

Access the first element from the list.

---

## üîπ Question 2

Access the last element using negative indexing.

---

## üîπ Question 3

Access the third element from the list.

---

## üîπ Question 4

Access the second-to-last element using negative indexing.

---

## üîπ Question 5

Access the first three elements using slicing.

---

# üìù Practice: List Operations in Python

Given the list:

In [12]:
numbers = [10, 20, 30, 40, 50]

---

## üîπ Question 1

Find the length of the list `numbers`.

---

## üîπ Question 2

Access the first and last element from the list.

---

## üîπ Question 3

Add the number `60` to the end of the list.

---

## üîπ Question 4

Insert `25` at index 2 in the list.

---

## üîπ Question 5

Remove the element `30` from the list.

---

## üîπ Question 6

Find the sum of all elements in the list.

---

## üîπ Question 7

Sort the list in descending order.

---

# üìù Practice: Tuple Operations in Python

Given the tuple:

In [25]:
numbers = (10, 20, 30, 40)

---

## üîπ Question 1: Updating a Tuple

Change the second element (20) to 25.

---

## üîπ Question 2: Appending an Element

Append `50` to the tuple.

---

## üîπ Question 3: Concatenating Two Tuples

Concatenate `(60, 70)` to the given tuple.

---

## üîπ Question 4: Repeating a Tuple

Repeat the tuple 3 times.

---

## üîπ Question 5: Removing an Element

Remove `30` from the tuple.

---

# üìù Practice: Dictionary Operations in Python

Given the dictionary:

In [35]:
student = {"name": "Alice", "age": 20, "grade": "A"}

---

## üîπ Question 1: Updating a Value

Update the age of the student to 21.

---

## üîπ Question 2: Appending (Adding) a New Key-Value Pair

Add `"city": "Delhi"` to the dictionary.

---

## üîπ Question 3: Concatenating Two Dictionaries

Merge another dictionary `{"subject": "Math", "score": 95}` with `student`.

---

## üîπ Question 4: Removing a Key-Value Pair

Remove `"grade"` from the dictionary.

---

## üîπ Question 5: Accessing Keys and Values

Print all keys and all values separately.

---

# üìù Practice: Creating DataFrames in Python

---

## üîπ Question 1  

You are given the following student data:  

| Name    | Age | Grade |
|---------|-----|-------|
| Alice   | 20  | A     |
| Bob     | 25  | B     |
| Charlie | 23  | A     |
| David   | 22  | C     |

üëâ Create a DataFrame with the columns **Name, Age, Grade** from the above data.

---

## üîπ Question 2

You are given the following product data:

| Product | Price | Stock |
| ------- | ----- | ----- |
| Laptop  | 80000 | 10    |
| Phone   | 30000 | 25    |
| Tablet  | 20000 | 18    |
| Monitor | 15000 | 12    |

üëâ Create a DataFrame with the columns **Product, Price, Stock** from the above data.

# Dealing with dataframes

---

you can access datasets from here : [1]: https://hackernoon.com/15-excel-datasets-for-data-analytics-beginners?utm_source=chatgpt.com "15 Excel Datasets for Data Analytics Beginners"

### Instructions for Your Notebook
 download the csv file from : https://github.com/Siddharth1698/New-York-City-Airbnb-Data-Case-Study

Use `pandas` to read the csv file :

---

---

## Question 1: Display the first 10 rows of the dataset.

---

## Question 2: Display the last 5 rows of the dataset.

---

## Question 3: Select a random sample of 7 rows.

---

## Question 4: Slice the dataset to display rows from 100 to 110 and only the columns `name`, `host_name`, and `price`.

---

## Question 5: Drop unnecessary columns ‚Äì remove `latitude` and `longitude` from the dataset.

---

## Question 6: Add a new column called `price_per_minimum_nights` (i.e., `price / minimum_nights`).

---

## Question 7: Rename the column `neighbourhood_group` to `borough`.

---

## Question 8: Export the modified dataset into **Excel** and **Text** formats.

* Save as Excel with the name: `airbnb_data.xlsx`
* Save as Tab-separated text file with the name: `airbnb_data.txt`

# üè† NYC Airbnb Dataset ‚Äì Pandas Essentials

---

## Question 1: Load the dataset and display its **shape** (rows and columns).

---

## Question 2: Display the **first 5 rows** using slicing.

---

## Question 3: Select rows **10 to 15** using `.iloc`.

---

## Question 4: Select rows **100 to 105** and only the columns `name`, `host_name`, `price` using `.loc`.

---

## Question 5: Show **information** about the dataset (columns, data types, memory usage).

---

## Question 6: Display the **column names** as a NumPy array.

---

## Question 7: Display the **data types** of each column.

---

## Question 8: Show the **summary statistics** of the dataset.

---

## Question 9: Find the **total number of missing values** in the dataset.

---

## Question 10: Create a **new DataFrame** containing only the columns `name`, `host_name`, `neighbourhood_group`, and `price`.