# üìù Assignment: String Character Functions in Python

This assignment explores Python's **string functions** and **pandas string operations**.  
Solve the questions and check the provided solutions.

## 1. `capitalize()` / `.str.upper()`

**Q1.** Convert the string `"python programming"` into capitalized form. 

**Solution:**

**Q2.** Convert the column values `["apple", "banana", "cherry"]` into uppercase.

**Solution:**

## 2. `casefold()` / `.str.lower()`

**Q1.** Convert `"PYTHON IS FUN"` into lowercase using `.casefold()`.

**Solution:**

**Q2.** Convert the series `["HELLO", "WORLD", "PYTHON"]` into lowercase.

**Solution:**

## 3. `.str.title()`

**Q1.** Convert `"welcome to data science"` into title case.

**Solution:**

**Q2.** Convert the series `["machine learning", "deep learning"]` into title case.

**Solution:**

## 4. String Concatenation (`+`)

**Q1.** Concatenate `"Data"` and `"Science"` with a hyphen.

**Solution:**

**Q2.** Combine first and last names from two Series:
`["John", "Jane"]` and `["Doe", "Smith"]`.
**Solution:**

## 5. `index()`

**Q1.** Find the position of `"o"` in `"Notebook"`.

**Solution:**

**Q2.** Find the index of `"a"` in each element of `["cat", "bat", "rat"]`.

**Solution:**

## 6. `split()`

**Q1.** Split `"Python Programming Language"` into words.

**Solution:**

**Q2.** Split each element of the Series `["a-b-c", "d-e-f"]` by `"-"`.

**Solution:**

## 7. `.apply(lambda x: x.split(' ')[0])`

**Q1.** Extract the first word from `"Data Science Rocks"`.

**Solution:**

**Q2.** Extract the first word from each element in `["John Doe", "Jane Smith"]`.

**Solution:**

## 8. `.apply(lambda x: x.split(' ')[1])`

**Q1.** Extract the second word from `"Deep Learning Model"`.

**Solution:**

**Q2.** Extract the second word from each element in `["Alice Johnson", "Bob Smith"]`.

**Solution:**

## 9. `replace()`

**Q1.** Replace `"dog"` with `"cat"` in `"I have a dog"`.

**Solution:**

**Q2.** Replace `"a"` with `"@"` in each element of `["apple", "banana", "grape"]`.

**Solution:**

## 10. `strip()`

**Q1.** Remove spaces from `"   hello   "`.

**Solution:**

**Q2.** Remove extra spaces from each element of `["  cat ", " dog  "]`.

**Solution:**

## 11. `lstrip()`

**Q1.** Remove leading spaces from `"   python"`.

**Solution:**

**Q2.** Remove leading spaces from each element of `["  red", "  blue"]`.

**Solution:**

## 12. `rstrip()`

**Q1.** Remove trailing spaces from `"python   "`.

**Solution:**

**Q2.** Remove trailing spaces from each element of `["green  ", "yellow   "]`.

**Solution:**

# üìù Assignment: Summarizing Quarterly Sales

We will use the following product sales DataFrame:

In [34]:
import pandas as pd

data = {
    "Product": ["Laptop", "Laptop", "Tablet", "Tablet", "Phone", "Phone"],
    "Region": ["North", "South", "North", "South", "North", "South"],
    "Q1_Sales": [200, 180, 150, 130, 300, 280],
    "Q2_Sales": [220, 190, 160, 140, 320, 290],
    "Q3_Sales": [210, 185, 155, 135, 310, 285],
    "Q4_Sales": [230, 195, 165, 145, 330, 295],
}

prod_sales = pd.DataFrame(data)
print(prod_sales)

  Product Region  Q1_Sales  Q2_Sales  Q3_Sales  Q4_Sales
0  Laptop  North       200       220       210       230
1  Laptop  South       180       190       185       195
2  Tablet  North       150       160       155       165
3  Tablet  South       130       140       135       145
4   Phone  North       300       320       310       330
5   Phone  South       280       290       285       295

## Q1. Row-wise Quarter Total (per product-region)

**Question:** Add new columns `Qtr_1_total_sales`, `Qtr_2_total_sales`, etc., for each quarter by summing sales.

**Answer:**

üëâ Here we are doing a **row-wise sum** (`axis=1`), which adds values **across columns** for each row (per product‚Äìregion).

## Q2. Group-wise Quarter Total (per product across regions)

**Question:** Instead of row-wise totals, compute **total sales per product across regions** for each quarter using `groupby()`.

**Answer:**

üëâ Here we are doing a **group aggregation** using `groupby("Product")`:

* This combines rows that belong to the **same product**, summing their quarterly sales.
* Unlike `.sum(axis=1)` (row-wise), `groupby().sum()` sums **down the rows for each group**.

## Q3. Why can‚Äôt we use `groupby()` to solve Q1?

**Question:** Why can‚Äôt we use `groupby()` to get the same result as Q1? Try it and explain the difference.

**Answer:**

‚ö†Ô∏è This gives **totals across regions per product**, not the row-wise totals.

üëâ **Key Difference:**

| Operation          | Axis                      | Meaning                                                    | Example                            |
| ------------------ | ------------------------- | ---------------------------------------------------------- | ---------------------------------- |
| `.sum(axis=1)`     | Across columns (row-wise) | Adds values across quarters **for one product‚Äìregion row** | "Laptop in North: sum of Q1‚ÄìQ4"    |
| `.groupby().sum()` | Across rows (group-wise)  | Adds values down rows **for all regions of a product**     | "All Laptop sales (North + South)" |

‚úÖ Therefore, **Q1 cannot be solved using `groupby()`**, because `groupby()` is for **combining multiple rows**, while Q1 requires **summing within each row**.

# üìù Assignment: Applying Built-in Functions on DataFrame Columns

We will use the following example DataFrame of product prices and quantities:

In [1]:
import pandas as pd

data = {
    "Product": ["Laptop", "Tablet", "Phone", "Headphones", "Camera"],
    "Price": [54999.75, 24999.40, 18999.99, 3999.49, 29999.95],
    "Quantity": [3, 5, 7, 10, 2]
}

df = pd.DataFrame(data)
print(df)

      Product     Price  Quantity
0      Laptop  54999.75         3
1      Tablet  24999.40         5
2       Phone  18999.99         7
3  Headphones   3999.49        10
4      Camera  29999.95         2

## Q1. Use `abs(x)` on Price

**Question:** Add a new column with the absolute value of `Price`.

**Answer:**

## Q2. Use `round(x, n)` on Price

**Question:** Round the `Price` to 2 decimal places.

**Answer:**

## Q3. Use `pow(x, y)` on Quantity

**Question:** Compute square of `Quantity` using `pow(x, y)`.

**Answer:**

## Q4. Use `divmod(a, b)` on Price

**Question:** Divide `Price` by 10000 and return quotient and remainder using `divmod`.

**Answer:**

## Q5. Use `len(x)` on Product

**Question:** Find the length of each product name.

**Answer:**

## Q6. Use `format(x, '.2f')` on Price

**Question:** Format `Price` with 2 decimal places using `format`.

**Answer:**

## Q7. Use f-string for currency formatting

**Question:** Format `Price` as Indian Rupees with 2 decimals using f-string.

**Answer:**

# üìù Assignment: Working with Datetime Functions in Python

## 1. `datetime.now()`

**Q1.** Get the current date and time.  

**Answer:**

**Q2.** Extract only the time from the current datetime.
**Answer:**

## 2. `date.today()`

**Q1.** Get today‚Äôs date.

**Answer:**

**Q2.** Print today‚Äôs year, month, and day separately.

**Answer:**

## 3. `.year`, `.month`, `.day`

**Q1.** Extract the year from today‚Äôs date.

**Answer:**

**Q2.** Extract the month and day from today‚Äôs date.

**Answer:**

## 4. `.hour`

**Q1.** Extract the current hour from the system time.

**Answer:**

**Q2.** Print whether the current hour is AM or PM.

**Answer:**

## 5. `.minute`

**Q1.** Extract the current minute.

**Answer:**

**Q2.** Print the time as "HH\:MM".

**Answer:**

## 6. `.second`

**Q1.** Extract the current second.

**Answer:**

**Q2.** Print the current time as "HH\:MM\:SS".

**Answer:**

## 7. Month name in words ‚Äì `strftime("%B")`

**Q1.** Print the current month name.

**Answer:**

**Q2.** Print month names for the first 3 months of the year.

**Answer:**

## 8. Day name in words ‚Äì `strftime("%A")`

**Q1.** Print today‚Äôs weekday name.

**Answer:**

**Q2.** Print the day name for New Year‚Äôs Day 2025.

**Answer:**

## 9. Convert into date from parts ‚Äì `date(year, month, day)`

**Q1.** Create a date object for Independence Day 2025 (15th August 2025).

**Answer:**

**Q2.** Create a date object for your birthday in 2025.

**Answer:**

## 10. Date differences using `relativedelta`

**Q1.** Find the difference in years, months, and days between 1-Jan-2020 and today.

**Answer:**

**Q2.** Find how many complete quarters (3-month periods) are between 1-Jan-2020 and today.

**Answer:**

## 11. Adding to a date using `relativedelta`

**Q1.** Add 6 months to today‚Äôs date.

**Answer:**

**Q2.** Add 2 years and 10 days to today‚Äôs date.

**Answer:**