Dataset URL (CSV â€“ Kaggle version hosted on GitHub):

In [ ]:
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"

---

# ðŸš¢ Titanic Dataset â€“ Filtering with Logical Operators

---

## Question 1
Filter all passengers who are **male AND older than 50 years**.

---

## Question 2

Select all passengers who are **female OR paid a fare greater than 100**.

---

## Question 3

Get all passengers whose **Pclass is in \[1, 2] AND Embarked is "S"**.

---

## Question 4

Find passengers who are **NOT in Pclass 3 AND Age < 30**.

---

## Question 5 â­ (Combination)

Select all passengers who satisfy:

* **Survived = 1**, AND
* **(Pclass = 1 OR Fare > 200)**, AND
* **Embarked is NOT "Q"**

---

### Practice Assignment: Comparison Operator Filtering

---

## Question 1  
**Filter all passengers who are exactly 30 years old.**

### Solution:

---

## Question 2

**Select all passengers who paid a fare greater than 100.**

### Solution:

---

## Question 3

**Find passengers who were younger than 20 years old and were in 3rd class (`Pclass == 3`).**

### Solution:

---

## Question 4

**Get passengers who survived (`Survived == 1`) and paid fare less than or equal to 50 (`Fare <= 50`).**

### Solution:

---

## Question 5 â­ (Combined comparisons)

**Select passengers who meet all of the following criteria:**

* Did *not* survive (`Survived == 0`)
* Were older than or equal to 60 years (`Age >= 60`)
* Paid fare less than 20 (`Fare < 20`)

### Solution:

---

### Practice Assignment: Special Operator Filtering

---

- Netflix Dataset â€“ String & Range Filtering

url = "https://raw.githubusercontent.com/practiceprobs/datasets/main/netflix-titles/netflix-titles.csv"

---

## âœ… Question 1: `.str.contains()`

**Find all shows whose title contains the word "Love".**

---

## âœ… Question 2: `.str.startswith()`

**List all shows where the title starts with the letter 'B'.**

---

## âœ… Question 3: `.str.endswith()`

**Find all shows where the director's name ends with 'Smith'.**

---

## âœ… Question 4: `between` â€“ Year Range

**Select all shows released between 2010 and 2020 (inclusive).**

---

## âœ… Question 5 â­ Combined (String + Range)

**Get all TV Shows where:**

* The title starts with 'A', AND
* The release year is between 2000 and 2010.

# ðŸ“˜ Netflix Dataset â€“ Creating New Columns with Arithmetic Operations

In [ ]:
# Clean up duration column: convert "90 min" â†’ 90
df["duration_num"] = (
    df["duration"]
    .str.extract("(\d+)")
    .astype(float)
)
df.head(5)

---

## âœ… Question 1: Add 10 minutes to duration

**Create a new column `duration_plus10` which adds 10 minutes to the duration.**

---

## âœ… Question 2: Convert duration into hours

**Create a new column `duration_hours` which is duration in hours (duration Ã· 60).**

---

## âœ… Question 3: Years since release

**Create a new column `years_since_release` = (2025 â€“ release\_year).**

---

## âœ… Question 4: Double duration for movies only

**For type = 'Movie', create a column `double_duration` which is 2 Ã— duration.**

---

## âœ… Question 5 â­ Combined Operations

**Create a column `score` = (duration Ã· 30) + (years\_since\_release Ã· 5).**
(This is an arbitrary score combining duration and how old the movie is.)

---

# ðŸ“˜ Netflix Dataset â€“ Sorting

url = "https://raw.githubusercontent.com/practiceprobs/datasets/main/netflix-titles/netflix-titles.csv"

---

## âœ… Question 1: Sort by release year (descending), then title (ascending)

**Arrange the dataset so that the latest release year comes first.
If two shows have the same release year, sort them alphabetically by title.**

---

## âœ… Question 2: Sort by country (ascending), then release year (descending)

**Arrange the dataset so that countries are in alphabetical order.
Within each country, the latest release year should appear first.**

---

## âœ… Question 3: Sort by type (ascending), then duration (descending)

**Arrange the dataset so that `Movie` comes before `TV Show`.
Within each type, sort by duration (largest first).**

> Note: For TV Shows, "duration" is in seasons, not minutes, but weâ€™ll still sort it as is.

---

# ðŸ“˜ Netflix Dataset â€“ GroupBy & Aggregation (Q\&A with Explanations)

---

## **Q1. Find the number of titles released per country.**

## **Q2. Group by `type` (Movie/TV Show) and compute: total number of titles, earliest release year, latest release year.**

## Q3. Group by `rating` and find: number of titles, number of unique countries, first title alphabetically.

## **Q4. Group by `release_year` and calculate: number of titles, maximum duration, last listed director.**

## **Q5. Group by `country` and `type`, then compute: number of titles, earliest release year, latest release year.**

## **Q6. Group by `country` and `rating`, then compute multiple aggregations on different columns with renamed new columns.**

# creating buckets (filtering using if-else)

Create a new column **`AgeGroup`** with a **custom Python function** (not `lambda`) based on the following rules:

* If `Age < 18` â†’ `"Child"`
* Else if `18 <= Age < 40` â†’ `"Young Adult"`
* Else if `40 <= Age < 60` â†’ `"Adult"`
* Else â†’ `"Senior"`
* use titanic dataset with url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"

---

## Using Lambda Function

Create a new column **`AgeGroup`** based on the following rules:

* If `Age < 18` â†’ `"Child"`
* Else if `18 <= Age < 40` â†’ `"Young Adult"`
* Else if `40 <= Age < 60` â†’ `"Adult"`
* Else â†’ `"Senior"`

---

---

Great! Letâ€™s do an **advanced bucketization** using a **custom function with multiple columns**.

---

## Advanced Bucketing

Using the Titanic dataset:

Create a new column **`PassengerType`** with the following rules (based on both `Age` and `Fare`):

* If `Age < 18` and `Fare > 50` â†’ `"Rich Child"`
* If `Age < 18` and `Fare <= 50` â†’ `"Poor Child"`
* If `Age >= 18` and `Fare > 100` â†’ `"Rich Adult"`
* If `Age >= 18` and `Fare <= 100` â†’ `"Poor Adult"`
* If `Age` is missing â†’ `"Unknown"`

## Update query by mapping

Suppose you have a **products dataset** with a column **`Category`** that contains values:

* `"Male"`
* `"Female"`
* `"Unisex"`

ðŸ‘‰ Create a new column **`Category_Code`** such that:

* `"Male"` â†’ `"M"`
* `"Female"` â†’ `"F"`
* `"Unisex"` â†’ `"U"`

Use **`.loc`** for mapping instead of `.replace()` or `.map()`.

---

In [ ]:
import pandas as pd

# Sample dataset
data = {
    "ProductID": [101, 102, 103, 104, 105],
    "Category": ["Male", "Female", "Unisex", "Male", "Female"],
    "Price": [500, 700, 600, 800, 650]
}

df = pd.DataFrame(data)


## âœ… Solution

# Delete records based on criterion

In [ ]:
import seaborn as sns
import pandas as pd

# Load dataset
df = sns.load_dataset("iris")
df.head()

## Assignment Questions on Deleting Records

### **Q1. Delete all rows where `species` is `"setosa"` AND `sepal_length` is less than 5.0.**

*(Combine equality and comparison filtering)*

In [ ]:
conditions = (df['species']=='setosa') & (df['sepal_length'] < 5.0)
rows_to_drop = df[conditions].index
df_dropped = df.drop(rows_to_drop)
df_dropped

### **Q2. Delete all rows where `species` is `"virginica"` OR where `sepal_width` is not between 2.5 and 3.5.**

*(Combine OR with chained comparison filtering)*

### **Q3. Delete all rows where the `species` is either `"setosa"` or `"versicolor"` AND where `petal_length` is greater than 4.5.**

*(Combine `isin()` with comparison filtering)*

âœ… **Solution:**

In [ ]:
import seaborn as sns
import pandas as pd

# Load dataset
df = sns.load_dataset("iris")

# Melt()

- use the **Tips dataset** from `seaborn` (it has 7 columns: `total_bill`, `tip`, `sex`, `smoker`, `day`, `time`, `size`).

# Assignment Question 1

### **Q1. Melt the dataset keeping only `day` as the identifier, and unpivot only the column `tip` into a new column called `Amount`.**

âœ… **Solution:**

In [ ]:
import seaborn as sns
import pandas as pd

# Load dataset
df = sns.load_dataset("tips")


# Assignment Question 2

### **Q4. Melt the dataset keeping only `sex` as the identifier, and unpivot only the column `size` into a new column called `Group_Size`.**

âœ… **Solution:**

# Assignment Question 3

### **Q3. Melt the dataset keeping only `day` as the identifier, and unpivot the columns `total_bill` and `tip` into a new column called `Bill_Type` and values into `Amount`.**

âœ… **Solution:**

In [ ]:
import seaborn as sns
import pandas as pd

# Load dataset
df = sns.load_dataset("tips")

## Pivot Long - Wide Dataset Example

ðŸ‘‰ **This dataset is in long format**:

| student | subject | marks | exam    |
| ------- | ------- | ----- | ------- |
| A       | Math    | 85    | Midterm |
| A       | English | 78    | Midterm |
| A       | Science | 90    | Midterm |
| B       | Math    | 92    | Midterm |
| B       | English | 88    | Midterm |
| B       | Science | 80    | Midterm |
| C       | Math    | 70    | Midterm |
| C       | English | 82    | Midterm |
| C       | Science | 75    | Midterm |

---

In [ ]:
import pandas as pd

# Long format dataset
df = pd.DataFrame({
    "student": ["A", "A", "A", "B", "B", "B", "C", "C", "C"],
    "subject": ["Math", "English", "Science",
                "Math", "English", "Science",
                "Math", "English", "Science"],
    "marks": [85, 78, 90, 92, 88, 80, 70, 82, 75],
    "exam": ["Midterm", "Midterm", "Midterm",
             "Midterm", "Midterm", "Midterm",
             "Midterm", "Midterm", "Midterm"]
})

df

### ðŸ”¹ Question 1

**Reshape the dataset so that each studentâ€™s marks in different subjects appear in separate columns.**

ðŸ‘‰ **Result (Wide Format):**

| student | English | Math | Science |
| ------- | ------- | ---- | ------- |
| A       | 78      | 85   | 90      |
| B       | 88      | 92   | 80      |
| C       | 82      | 70   | 75      |

- **Solution**

### ðŸ”¹ Question 2

**Reshape the dataset so that subjects appear as rows and each studentâ€™s marks are shown in different columns.**

ðŸ‘‰ **Result (Wide Format):**

| subject | A  | B  | C  |
| ------- | -- | -- | -- |
| English | 78 | 88 | 82 |
| Math    | 85 | 92 | 70 |
| Science | 90 | 80 | 75 |

- **Solution**

### Transpose

You are given the following DataFrame of student scores:

In [ ]:
import pandas as pd

data = {
    "Student": ["Alice", "Bob", "Charlie"],
    "Math": [85, 90, 78],
    "Science": [92, 88, 81],
    "English": [89, 84, 76]
}

df = pd.DataFrame(data)
print("Original DataFrame:\n", df)

1. **Transpose the DataFrame** so that subjects (`Math`, `Science`, `English`) become the index, and student names (`Alice`, `Bob`, `Charlie`) become the columns.
2. **Transpose it again** to get back the original DataFrame.